// Global color
$body-bg: #0f0f0f;
$main-color: #e41f1f;
$text-color: #fff;
$black: #000;
// shadow
$box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

// Breakpoints
$mobile-width: 600px;
$tablet-width: 1024px;

// Font Family:
$font-family: "Poppins", sans-serif;
