@use "../../sass/index" as *;

.footer {
  position: relative;
  padding: 6rem 2rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 1000px;

    &__logo {
      @include flex(center, center);
      margin-bottom: 3rem;
    }

    &__menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 150px;

      @include tablet {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
      }

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
    }

    &__menu {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 600;

      & > * ~ * {
        margin-top: 1rem;
      }
    }
  }
}
